MEMORY {
    ZEROPAGE:   start =        0, size =  $100, file = "";
    BSS:        start =     $200, size = $1800, file = "";
    BANK0:      start =  $808000, size = $8000, fill = yes, file = %O;
}

# Logical areas code/data can be put into.
SEGMENTS {
    ZEROPAGE:   load = ZEROPAGE,    type = zp;
    BSS:        load = BSS,         type = bss, align = $100;

    BANK0:      load = BANK0,       start =  $808000, type=ro;
    HEADER:     load = BANK0,       start =  $80FFC0, type=ro;
    ROMINFO:    load = BANK0,       start =  $80FFD5, type=ro, optional = yes;
    VECTORS:    load = BANK0,       start =  $80FFE0, type=ro;
}
